# Byte-compiled / optimized / DLL files
__pycache__/
.hypothesis
*.py[cod]
*$py.class
.Python
.venv
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/.ropeproject

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# mypy/pyright
.mypy_cache/
.dmypy.json
dmypy.json

# Mac
.DS_Store
